<!DOCTYPE html>
<html lang="en">

<head>
    <title>Color Themes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            padding: 0;
            margin: 0;
            margin-left: 1em;
            margin-right: 1em;
            display: flex;
            flex-direction: column;
        }

        pre {
            font-size: 1.5em;
        }

        .colorBox div {
            height: 50px;
        }
    </style>
</head>

<body>

    <!-- sunset -->
    <div class="colorBox">
        <h2> sunset </h2>
        <div style="background: linear-gradient(to right top, #e66465, #9198e5);"></div>
        <pre>background: linear-gradient(to right top, #e66465, #9198e5);</pre>
    </div>

    <!-- pythonic -->
    <div class="colorBox">
        <h2> pythonic </h2>
        <div style="background: linear-gradient(90deg, #306998 50%, #ffd43b 50%);"></div>
        <pre>background: linear-gradient(90deg, #306998 50%, #ffd43b 50%);</pre>
    </div>

    <!-- ibm-blue -->
    <div class="colorBox">
        <h2> ibm-blue </h2>
        <div style="background-color: #0530ad;"></div>
        <pre>background-color: #0530ad;</pre>
    </div>

</body>

</html>