<!DOCTYPE html>
<html lang="en">

<head>
    <title>Color Picker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            padding: 0;
            margin: 0;
            margin-left: 1em;
            margin-right: 1em;
        }

        div {
            padding: 0.5em;
        }

        .colorBox {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

        .colorBox div {
            padding-left: 2em;
        }
    </style>
</head>

<body>

    <!-- pretty-green -->
    <div class="colorBox">
        <div style="background-color: #e6ffe6;">
            <h2> #e6ffe6 </h2>
        </div>
        <div style="background-color: #ccffcc;">
            <h2> #ccffcc </h2>
        </div>
    </div>

    <!-- pretty-blue -->
    <div class="colorBox">
        <div style="background-color: #e6f9ff;">
            <h2>#e6f9ff</h2>
        </div>
        <div style="background-color: #ccf2ff;">
            <h2> #ccf2ff </h2>
        </div>
    </div>

    <!-- pretty-gray -->
    <div class="colorBox">
        <div style="background-color: #f2f2f2;">
            <h2>#f2f2f2</h2>
        </div>
        <div style="background-color: #e6e6e6;">
            <h2>#e6e6e6</h2>
        </div>
    </div>

    <!-- pretty-red -->
    <div class="colorBox">
        <div style="background-color: #ffe6e6;">
            <h2>#ffb3b3</h2>
        </div>
        <div style="background-color: #ffcccc;">
            <h2>#ffcccc</h2>
        </div>
    </div>

</body>

</html>